* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body::-webkit-scrollbar {
	width: 6px;
	display: block;
	background: #d3d3d3;
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
	background: #0f83b2;
	border-radius: 6px;
}
