.AddAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #f8f9fa;

  .AddAccount__content {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 98%;
  }

  .AddAccount__title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }

  .ToastContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1050;
  }

  .container {
    max-width: 100%;
    margin-top: 20px;
  }

  .form-control {
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  .form-select {
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  .add_button {
    display: flex;
    justify-content: center;
  }
  .submit-button {
    font-size: 2rem;
    padding: 5px 20px;
    background-color: #1376f8;
    border-radius: 6px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #4c8ce0;
  }
}
