.productDetail__container {
	margin-top: 60px;
	padding-bottom: 50px;
}

.productDetail {
	width: 1280px;
	margin: 0 auto;
}

/* ======= TITLE ======= */
.productDetail__title {
	color: #191919;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 120%; /* 45.6px */
}

// ======= INFO ======= //
.productDetail__image img {
	height: 100%;
	width: auto;
}

.productDetail__cartButton svg {
	margin-right: 5px;
}

.productDetail__shortInfo fieldset {
	border-radius: 15px;
	padding: 10px 20px;
	border: 1px solid #d4d4d4;
}

.productDetail__shortInfo legend {
	font-size: 2.4rem;
	font-weight: 700;
}

.productDetail__description {
	margin-top: 30px;
	border-radius: 15px;
	border: 1px solid #d4d4d4;
	padding: 50px 100px;
}

.productDetail__description a {
	cursor: pointer;
}
